/* You can add global styles to this file, and also import other style files */
html {
    background-color: #AAAAAA;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}